.stage-container {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 0 auto; /* Center horizontally on the page */
    margin-top: 100px;
  }

  /* Collapsed state for when a button is clicked */
.stage-container.collapsed {
  position: relative;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  transition: all 0s ease-in-out;
}

@media screen and (max-width: 600px) {
  .stage-container.collapsed {
    transform: scale(0.66);
  }
}
  

/* The SVG path*/
.stage-container.collapsed .path {
  display: none;
}

//button
.stage-button {
  position: absolute;
  width: 100px auto;
  max-width: 100%;
  height: 50px;
  color: var(--ion-color-secondary);
  color: #fff;
  transition: all 0.7s ease-in-out;
}

/* Active (selected) stage styling */
.stage-button.active {
  color: var(--ionic--ion-color-secondary);
  box-shadow: 0 0 15px #FFA100;
}


.stage-container.collapsed .stage-button {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 2rem !important;
  top: 40px !important;
  left: 10px !important;
  border-radius: 64px;
  --border-radius: 64px;
  transform-origin: center center;
}

.stage-container.collapsed .stage-button-text {
  display: none;
}

.stage-container.collapsed .stage-button.active .stage-button-text {
  display: block;
}

// CHECKLIST
.checklist{
  opacity: 70%;
  z-index: 0; 
}

.checklist.collapsed {
  transition: opacity 5s;
  opacity: 100%;
}