<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="analytics-outline"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="guides" href="/tabs/guides">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Guides</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activities" href="/tabs/activities">
      <ion-icon aria-hidden="true" name="caret-forward-circle-outline"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
