<ion-content class="ion-padding">
<!-- 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Top Highlights</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>🌋 Roque Nublo – A majestic volcanic rock and popular hiking destination</ion-item>
        <ion-item>🏖️ Playa de las Canteras – The most famous beach in Las Palmas</ion-item>
        <ion-item>🌄 Maspalomas Dunes – Stunning desert-like sand dunes</ion-item>
        <ion-item>🏰 Vegueta – The historic old town of Las Palmas</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->

  <!--ion-card>
    <ion-card-header>
      <ion-card-title>Top Activities</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>🚶 Hiking in the mountains and nature parks</ion-item>
        <ion-item>🚴 Cycling along scenic coastal roads</ion-item>
        <ion-item>🌊 Surfing and snorkeling at the beaches</ion-item>
        <ion-item>🍷 Trying Canarian wines and traditional food</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card-->

  <ion-card *ngFor="let highlight of highlights" [routerLink]="['/highlight-details', highlight.id]" button="true">
    <ion-img [src]="highlight.image"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ highlight.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ highlight.summary }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Useful Links</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item href="https://www.grancanaria.com/turismo/en/" target="_blank">
          🌐 Official Tourism Website
        </ion-item>
        <ion-item href="https://www.laspalmasgc.es/en/" target="_blank">
          🏙️ Las Palmas City Info
        </ion-item>
        <ion-item href="https://www.guaguas.com/" target="_blank">
          🚌 Public Transport (Guaguas)
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>