<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <span style="color: var(--ion-color-primary);">Eras</span>
      <span style="color: var(--ion-color-secondary);">more</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let highlight of highlights" [routerLink]="['/highlight-details', highlight.id]" button="true">
    <ion-img [src]="highlight.image"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ highlight.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ highlight.summary }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Useful Links</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item href="https://www.grancanaria.com/turismo/en/" target="_blank">
          🌐 Official Tourism Website
        </ion-item>
        <ion-item href="https://www.laspalmasgc.es/en/" target="_blank">
          🏙️ Las Palmas City Info
        </ion-item>
        <ion-item href="https://www.guaguas.com/" target="_blank">
          🚌 Public Transport (Guaguas)
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>