<ion-card-content>
  <div class="checklist-row" (click)="onItemClick($event)">
    <ion-item lines="none" class="checklist-item">
      <ion-checkbox
        slot="start"
        [checked]="checked"
        (click)="$event.stopPropagation()">
      </ion-checkbox>
      <ion-label>{{ checklistItem.task }}</ion-label>
    </ion-item>

    <ion-button
      size="small"
      class="learn-more-btn"
      *ngIf="checkLink()"
      (click)="open($event)">
      Learn More
    </ion-button>
  </div>
</ion-card-content>